---
title: The Book
---

<section class="content">
    <div class="col-2">
      <%= image_tag 'book-cover.png', :class => 'cover' %>
    </div>

    <div class="col-1">
      <span class="release">Book Release: Early 2021</span>
      <h1>Design Leadership: The First 90 Days</h1>
      <h2>A way finding guide and companion to the first days in your new role.</h2>

      <div class="separator"></div>

      <h3>Add Your Voice</h3>
      <p>Are you a new, emerging, or seasoned design leader? What would you like to know, what's been critical to your own leadership success, and what challenges did you face?</p>

      <%= link_to('Take the survey', 'survey', :class => 'button') %>

      <div class="separator"></div>

      <h3>Follow Along</h3>
      <p>Check out the <%= link_to('Design Leadership Roam Database', 'https://roamresearch.com/#/app/design-leadership/page/CPoLCQI-e') %> for additional resources, and sign up to the newsletter for updates! </p>

      <%= link_to('Get the newsletter', 'newsletter', :class => 'button') %>

      <div class="separator"></div>

      <h4>This book is the evolution of a talk given several years ago by <%= link_to('Andrea Mignolo', 'https://pnts.us') %>. She hopes it can serve new and seasoned leaders alike by providing guidance, reflections, and frameworks to establish design as a strategic partner in any organization.</h4>
    </div>
</section>
